* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  --primary-color: #2ecc71;
  --font-color-primary: #fff;
  --font-color-secondary: #eaeaea;
}

body {
  color: var(--font-color-primary);
}

.container {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  object-fit: cover;
}

.container__content {
  width: clamp(320px, 70%, 2560px);
  display: inherit;
  flex-direction: column;
  gap: 1.4rem;
  padding: 1rem;
}

.content__subtitle,
.content__description {
  color: var(--font-color-secondary);
}

.content__list {
  display: flex;
  gap: 1rem;
}

.content__doc {
  width: 0.6rem;
  border-radius: 50%;
  height: 0.6rem;
  background: #757473;
}

.content__doc--active {
  background: var(--font-color-primary);
  transform: scale(1.5);
  transition: transform 0.2s ease-in-out;
}

.content__title {
  font-size: clamp(2rem, 3vw, 6rem);
}

.content__subtitle {
  font-size: clamp(1.2rem, 3vw, 3rem);
  margin-left: 0.5rem;
  font-weight: 400;
  margin-top: -0.4rem;
}

.content__description {
  line-height: 1.8;
  font-size: clamp(0.7rem, 5vw, 1.2rem);
  max-width: 100ch;
}

.content__btn {
  background: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 0.7rem;
  padding: 1.2rem 4rem;
  text-transform: uppercase;
  color: var(--font-color-primary);
}

.content__btn:nth-of-type(2) {
  color: var(--font-color-secondary);
}

.content__btn--filled {
  background: var(--primary-color);
}

.content__btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.progressBar {
  width: clamp(220px, 70%, 400px);
  height: 2.5px;
  background-color: #d9d8d7;
}

.filled {
  background-color: var(--primary-color);
  width: 0%;
  height: 100%;
}

.btn__container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.slideAnimation {
  animation: slideAnimation 0.4s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 668px) {
  .content__description {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100px;
  }

  .content__btn--filled {
    order: 1;
  }
}
